@import url('./fonts/fonts.css');

.page {
  background-color: #000;
}

.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .header {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
  .header {
    min-height: 56px;
    margin: 28px 0 0;
  }
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
  }
}

.profile {
  display: flex;
  max-width: 880px;
  min-height: 120px;
  margin: 40px auto 0;
}

@media (max-width: 1000px) {
  .profile {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* @media (max-width: 780px) {
  .profile {
    flex-wrap: wrap;
  }
} */

@media (max-width: 780px) {
  .profile {
    flex-direction: column;
    align-items: center;
    /* margin-left: 19px;
    margin-right: 19px; */
  }
}

@media (max-width: 500px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin-left: 19px;
    margin-right: 19px;
  }
}

.profile__info {
  max-width: 336px;
  min-height: 73px;
  display: flex;
  flex-wrap: wrap;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

@media (max-width: 500px) {
  .profile__avatar {
    margin-right: 0;
  }
}

.profile__title {
  margin: 22px 0 0;
  color: #fff;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  letter-spacing: 0.5px;
}

@media (max-width: 500px) {
  .profile__title {
    margin-top: 28px;
    margin-left: auto;
    font-size: 27px;
    line-height: 1.22;
    text-align: center;
  }
}

.profile__subtitle {
  margin: 8px 0 25px;
  color: #fff;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media (max-width: 780px) {
  .profile__subtitle {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .profile__subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    margin: 6px 0 36px;
  }
}

.profile__edit-button {
  padding: 0;
  background-color: #000;
  border: 0;
  height: 24px;
  margin-left: 18px;
  margin-right: auto;
  margin-top: 37px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .profile__edit-button {
    margin-right: calc(((100% - 294px) / 2) - 42px);
    align-self: center;
  }
}

@media (max-width: 500px) {
  .profile__edit-button {
    margin-left: 10px;
    margin-top: 30px;
    margin-right: calc(((100% - 191px) / 2) - 28px);
    align-self: center;
  }
}

@media (max-width: 500px) {
  .profile__edit-button-image {
    width: 18px;
    height: 18px;
  }
}

.profile__add-button {
  background-color: #000;
  background-image: url('./images/profile_add_button.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 50px;
  padding: 0;
  border: 0;
  margin-top: 35px;
  margin-left: auto;
  cursor: pointer;
}

@media (max-width: 780px) {
  .profile__add-button {
    margin-left: 0;
    align-self: center;
    width: 282px;
    height: 50px;
    background-image: url('./images/profile_add_button_mobile.svg');
    background-size: contain;
  }
}

@media (max-width: 500px) {
  .profile__add-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 282px;
    height: 50px;
    background-image: url('./images/profile_add_button_mobile.svg');
    background-size: contain;
  }
}

@media (max-width: 500px) {
  .profile__add-button-image {
    width: 100%;
    height: 50px;
  }
}





.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  max-width: 880px;
  margin: 45px auto 0;
  column-gap: 17px;
  row-gap: 20px;
}

@media (max-width: 930px) {
  .elements {
    max-width: 581px;
  }
}

@media (max-width: 620px) {
  .elements {
    max-width: 282px;
  }
}

@media (max-width: 320px) {
  .elements {
    margin-top: 36px;
    max-width: 282px;
  }
}

.element {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
}

.element__image {
  border-radius: 10px 10px 0px 0px;
}

.element__title {
  max-width: 190px;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 24px;
  line-height: 1.20;
  margin: 25px 0 25px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like-button {
  padding: 0;
  background-color: #fff;
  border: 0;
  margin: 30px 20px 30px 0;
  height: 19px;
  cursor: pointer;
}

.footer {
  margin-top: 68px;
  margin-bottom: 60px;
  margin-left: calc((100% - 880px) / 2);
}

@media (max-width: 930px) {
  .footer {
    margin-left: calc((100% - 581px) / 2);
  }
}

@media (max-width: 620px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
    margin-left: calc((100% - 282px) / 2);
  }
}

.footer__copyright {
  color: #545454;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media (max-width: 620px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1.21;
  }
}