.profile {
  display: flex;
  max-width: 880px;
  min-height: 120px;
  margin: 40px auto 0;
}

@media (max-width: 1000px) {
  .profile {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 780px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .profile {
    margin-left: 19px;
    margin-right: 19px;
  }
}