.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .header {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
  .header {
    min-height: 56px;
    margin: 28px 0 0;
  }
}