.profile__subtitle {
  margin: 8px 0 25px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
  min-width: 200px;
}

@media (max-width: 780px) {
  .profile__subtitle {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .profile__subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    margin: 6px 0 36px;
  }
}