.element__like-button {
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url('../../../images/like_button.svg');
  background-color: #fff;
  border: 0;
  margin: 30px 20px 30px 0;
  height: 19px;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: 0.5;
}